<div class="jumbotron big">
  <h1>Welcome to Rails Freshman</h1>
  <h3>
  	Learn Ruby on Rails by Sharing & Taking Down Notes, Thoughts and Links. 
  </h3>
    &nbsp
  <div class="row start-btn">
    <div class="col-md-2 col-md-offset-5">
      <%= link_to 'Starts Now', new_user_registration_path, :class => "btn btn-warning btn-lg" %>
    </div>
  </div>
</div>