<main role="main">
  <div class="jumbotron">
    <h1>Welcome to Rails Freshman</h1>
    <p>Learn Ruby on Rails in a Short Period of Time by Sharing Links, Tools and Information.</p>
    &nbsp
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <button class="btn btn-primary btn-lg">Starts Now</button>
      </div>
    </div>
  </div>
</main>