<div class="jumbotron big">
  <h1>Welcome to Rails Freshman</h1>
  <h3>Learn Ruby on Rails in a Short Period of Time by Sharing Links, Tools and Information.</h3>
    &nbsp
  <div class="row start-btn">
    <div class="col-md-2 col-md-offset-5">
      <%= link_to 'Starts Now', articles_path, :class => "btn btn-warning btn-lg" %>
    </div>
  </div>
</div>