// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 10px;
  width: 80%;
  margin-top: 10px; // accommodate the navbar
  border-radius: 3px
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.grid { 
  padding-right: 0px;
  margin-right: 0px;
}

.fbimg {
  margin-top: -10px;
}

.navtext {
  margin-top: 22px;
  margin-left: 10px;
  margin-right: -8px;
}

.navbar {
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
}
.navbar .nav > li > a {
  font-size: 15px;
  color: #163F57;
  margin-top: 7px;
}
.navbar .nav > li > a:hover {
  color: #497DBD;
}
.navbar-static-top .navbar-brand {
  color: #163F57;
  font-size: 25px;
  font-style: bold;
  margin-top: 5px;
}
.navbar-static-top .navbar-brand:hover {
  color: #497DBD;
}

/* space between navbar and container */
.space {
  margin-top: 30px;
}

/* white box to seperate from body and background */
.box {
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  border: 1px solid #D3D3D3;
}

/* big background photo */
.big { 
  background: url(https://goo.gl/FZgOAW) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  height: 600px;
  h1 {
    padding-top: 90px;
    color: white;
    text-align: center;
  }
  h3 {
    color: white;
    font-style: bold;
    text-align: center;
  }
  .start-btn {
    padding-top: 10px
  }
}

/* sticky footer */
html,
body {
  height: 100%;
  background-color: #F9F9F9;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  height: auto;
  min-height: 100%;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
}

/* Set the fixed height of the footer here */
#footer {
  padding: 30px 0;
  color: #999;
  text-align: center;
  background-color: #ECECEC;
  border-top: 1px solid #D3D3D3;
}

