<li> <%= link_to 'Log In', new_user_session_path %> </li>
<li class="navtext"> or Log In with </li>
<li class="fbimg"> <%= link_to("#{image_tag 'fb.png', size: '35x35'}".html_safe,user_omniauth_authorize_path(:facebook)) %> </li>